*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: context-menu;
}
    body {
        width: 100%;
        height: auto;
    }
    
     h3 {
        font-size: 34px;
        font-weight: 500;
    }
    a {
        cursor: pointer;
    }

    /* nav-bar */
    
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 20px 30px;
    }
    
    .logo {
        width: 200px;
        height: auto;
    }
    
    .nav ul {
        display: flex;
        gap: 20px;
    
        & li {
            list-style: none;
            text-decoration: none;
            font-size: 24px;
            font-weight: 500;
            color:black; 
        }
    }
    
    .nav .buttons {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .nav .buttons button {
        padding: 12px 30px;
        font-size: 22px;
        font-weight: 500;
        border-radius: 30px;
        border: none;
        outline: none;

    }
    
    .nav .buttons button:nth-child(2) {
        color: white;
        background-color: #000000;
    }
    
    .nav .buttons button:last-child {
        background-color: transparent;
        padding: 0;
        width: 36px;
        height: 36px;
    }
    
    .nav .buttons img {
        width: 45px;
        height: 45px;
        cursor: pointer;
    }


    /* Home section */

    .home-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background: url(Image/Rectangle\ 1.png) center/cover;
        padding: 12% 0 7%;
    }
    
    .home-section-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1% 8% 3%;
        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: black;
    }
    
    .home-section-form h1 {
        font-size: 45px;
        font-weight: 500;
        margin-bottom: 40px;
    }
    
    .home-section-form-inputs {
        display: grid;
        grid-template-areas:
            "currency-1 buy-and-sell payment currency-2"
            "how-much how-much how-much find-offer";
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin-bottom: 20px;
        width: 100%;
    }
    
    .home-section-form-inputs select {
        font-size: 22px;
        font-weight: 500;
        border-radius: 8px;
        padding: 12px 20px;
        background-color: #ECECEC;
        border: none;
        outline: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
         background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>');

         /*Custom SVG arrow */

        background-repeat: no-repeat;
        background-position: right 20px center;
        background-size: 18px;
    
        &:first-child {
            grid-area: currency-1;
        }
    
        &:nth-child(2) {
            grid-area: buy-and-sell;
        }
    
        &:nth-child(3) {
            grid-area: payment;
        }
    
        &:nth-child(4) {
            grid-area: currency-2;
        }
    }
    
    .home-section-form-inputs input {
        width: 100%;
        border-radius: 8px;
        padding: 12px 20px;
        border: none;
        outline: none;
        font-size: 22px;
        font-weight: 500;
        background-color: #ECECEC;
        text-align: center;
        grid-area: how-much;
    
        &::placeholder {
            color: black;
        }
    
        &::-webkit-inner-spin-button {
            display: none;
        }
    }
    
    .home-section-form-inputs button {
        padding: 12px 60px;
        border-radius: 30px;
        font-size: 22px;
        font-weight: 600;
        border: none;
        outline: none;
        background-color: #00EBC7;
        text-wrap: nowrap;
        grid-area: find-offer;
    
        &:active {
            scale: 0.95;
            background-color: rgb(0 217 183);
        }
    }
    
    .home-section-button {
        padding: 12px 30px;
        margin-top: 80px;
        font-size: 22px;
        color: white;
        background-color: #434847;
        border: 2px solid white;
        border-radius: 30px;
    
        &:active {
            scale: 0.95;
        }
    }


/* currency-section */


    .currency-section {
        width: 100%;
        padding: 5% 10%;
        background-color: #FDE24F;
    }
    
    .currency-section h3 {
        text-align: center;
        margin-bottom: 50px;
    }
    
    .currency-section h3 em {
        font-size: calc(1em - 5px);
        font-weight: 400;
    }
    
    .currency-section img {
        width: 100%;
    }


    /* feature-section */
    
    .feature-section {
        width: 100%;
        padding: 5%;
    }
    
    .feature-section h3 {
        margin-bottom: 65px;
    }
    .secure-payments-parent {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        place-items: center;
        text-align: center;
        margin-bottom: 85px;
    }
    
    .secure-payments {
        position: relative;
        width: 300px;
    }
    
    .secure-payments img {
        margin-bottom: 10px;
    }
    
    .secure-payments h4 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    
    .secure-payments p {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 35px;
        color: rgba(from var(--black-clr) r g b / 0.5);
    }
    
    .secure-payments a {
        color: var(--black-clr);
        font-size: 16px;
        font-weight: 600;
        text-decoration: underline;
    }
    
    .secure-payments-parent hr {
        width: 50%;
        height: 1px;
    }
    
    .feature-section button {
        display: block;
        margin: 0 auto;
        font-size: 22px;
        font-weight: 500;
        padding: 12px 30px;
        color: black;
        background-color: transparent;
        border: 2px solid black;
        border-radius: 30px;
    
        &:active {
            scale: 0.95;
        }
    }

    /* Buy and sell section*/


    .buy-and-sell-section {
        display: flex;
        width: 100%;
        background-color: #FFFFFF;
        border-block: 1px solid black;
    }
    
    .buy,
    .sell {
        padding: 5%;
        width: 100%;
        background-color: #F8F8F8;
    }
    
    .buy h3,
    .sell h3 {
        margin-bottom: 40px;
    }
    
    .offer-state {
        display: flex;
        align-items: center;
        gap: 40px;
        width: 100%;
        background-color:white;
        margin-bottom: 30px;
        border: 1px solid black;
        border-radius: 15px;
        padding: 10px 10% 10px 16px;
        font-size: 20px;
        font-weight: 500;
    }
    
    .offer-state img {
        border: 2px solid black;
        border-radius: 50%;
    }
    
    .offer-state-details {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .buy button,
    .sell button {
        display: block;
        margin: 0 auto;
        font-size: 22px;
        font-weight: 500;
        padding: 12px 30px;
        color: white;
        background-color: black;
        border: none;
        outline: none;
        border-radius: 15px;
    
        &:active {
            scale: 0.95;
        }
    }
    
    .buy {
        border-left: none;
        border-right: 2px solid black}
    
    .sell {
        border-right: none;
        border-left: none;
    }


    /* Sign up section */


    .signup-section {
        width: 100%;
        padding: 5% 10%;
        text-align: center;
        background-color: #CFBAFF;
    }
    
    .signup-section h2 {
        font-size: 75px;
        font-weight: 500;
        margin-bottom: 110px;
    }
    
    .signup-section button {
        padding: 12px 35px;
        font-size: 32px;
        font-weight: 500;
        color: white;
        background-color: #000000;
        border: none;
        outline: none;
        border-radius: 30px;
    
        &:active {
            scale: 0.95;
        }
    }



    /* footer section */
    
    .footer-section {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);
        color: white;
        background-color: black;
        padding: 5%;
    }
    
    .footer-section div {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .footer-section div img {
        height: 40px;
        object-fit: contain;
    }
    
    .footer-section div h4 {
        font-size: 28px;
    }
    
    .footer-section div a {
        color: rgba(from var(--white-clr) r g b / 0.7);
        text-decoration: none;
        font-size: 20px;
    
        &:hover {
            color: var(--white-clr);
        }
    }
    
    .copyright {
        padding: 2%;
        color: white;
        background-color: black;
        border-top: 1px solid white;
        text-align: center;
        font-size: 13px;
    }


    /* responsive for mobile */


@media (max-device-width: 767px){

    /* nav-bar */
    
    .nav {
        width: 100%;
        height: 50px;
        padding: 2px 5px ;
        
    }
    
    .logo {
        width: 100px;
    }
    
    .nav ul{
        display: hidden;
    }

    .nav .buttons{
        margin-right: 95px;
    }

    .nav .buttons button {
        padding: 2px 5px;
        font-size: 14px;
        font-weight: 400;
        border-radius: 10px;
    }
    
    .nav .buttons img {
        width: 25px;
        height: 25px;

    }


        /* Home section */

        .home-section {
            display: block;
            width: 76%;
            height: 400px;
            background: url(Image/Rectangle\ 1.png) center/cover;
            padding: 90px 10px;
        }

        .home-section-form {
            height: 200px;
            display: block;
            padding: 15px 5px 1px;
            border-radius: 8px;
        }

        .home-section-form h1 {
            font-size: 18px;
            font-weight: 500;
            margin-left: 60px;
            margin-bottom: 10px;
            
        }

        .home-section-form-inputs{
            display: block;

        }

}
